
<footer>
    <div>
        <ul>
            <li class="subtitulo-footer">Productos</li>
            <li><a href="#">Camisetas</a></li>
            <li><a href="#">Pantalones</a></li>
            <li><a href="#">Sudaderas</a></li>
            <li><a href="#">Tenis</a></li>
            <li><a href="#">Busos</a></li>
            <li><a href="#">Hoddies</a></li>
            <li><a href="#">Medias</a></li>
            <li><a href="#">Accesorios</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li class="subtitulo-footer">Tiendas</li>
            <li><a href="#">Cali</a></li>
            <li><a href="#">Bogotá D.C</a></li>
            <li><a href="#">Medellín</a></li>
            <li><a href="#">Cartagena</a></li>
            <li><a href="#">Bucaramanga</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li class="subtitulo-footer">Aliados</li>
            <li><a href="https://www.nike.com.co/">Nike</a></li>
            <li><a href="https://www.adidas.co/">Adidas</a></li>
            <li><a href="https://eu.puma.com/es/es/home">Puma</a></li>
            <li><a href="https://www.underarmour.com.co/">Under Armour</a></li>
            <li><a href="https://www.kappa-col.com/">Kappa</a></li>
            <li><a href="https://www.co.skechers.com/">Skechers</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li class="subtitulo-footer">Redes Sociales</li>
            <li class="redes"><a href="#"><i class="bi bi-envelope-fill redes"></i></a></li>
            <li class="redes"><a href="#"><i class="bi bi-instagram redes"></i></a></li>
            <li class="redes"><a href="#"><i class="bi bi-facebook redes"></i></a></li>
            <li class="redes"><a href="#"><i class="bi bi-whatsapp redes"></i></a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li class="subtitulo-footer">Linea Soporte</li>
            <li><a href="#">línea de Quejas</a></li>
            <li><a href="#">Línea de ayuda</a></li>
            <li><a href="#">Problemas con tu compra</a></li>
        </ul>
    </div>
</footer>
