<div class="inventory-table-container">
  <table class="inventory-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre del producto</th>
      <th>Imagen</th>
      <th>Descripcion</th>
      <th>Talla</th>
      <th>Color</th>
      <th>Categoria</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody id="mitabla" > @for(producto of todosProductos;track $index){
    <tr>
      <td>{{ producto._id }}</td>
      <td>{{ producto.nombre }}</td>
      <td>
        <img [src]="producto.imagen" alt="{{ producto.nombre }}" class="product-image">
      </td>
      <td>{{ producto.descripcion}}</td>
      <td>{{ producto.talla }}</td>
      <td>{{ producto.color}}</td>
      <td>{{ producto.categoria }}</td>
      <td>{{ producto.cantidad }}</td>
      <td>{{ producto.precio }}</td>
      
      <td class="actions">
        <button>
          <i class="bi bi-pencil-square"></i>
        </button>
        <button>
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>}
    </tbody>
  </table>
</div>

