<div class="inventory-table-container">
  <table class="inventory-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Categoría</th>
      <th>Nombre del Producto</th>
      <th>Cantidad</th>
      <th>Imagen</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{ producto.id }}</td>
      <td>{{ producto.categoria }}</td>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.cantidad }}</td>
      <td>
        <img [src]="producto.imagen" alt="{{ producto.nombre }}" class="product-image">
      </td>
      <td class="actions">
        <button>
          <i class="bi bi-pencil-square"></i>
        </button>
        <button>
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

