<app-nav></app-nav>

<main>
  <!-- <img class="img-banner" src="/assets/img-header.jpg" alt="" /> -->
  <!-- EN ESTA PAGINA REALIZAREMOS 3 SECTION, 1 PARA NUEVAS PROMOCIONES, 1 PARA TENDENCIA MUJER, 1 PARA TENDENCIA HOMBRE -->

  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner img-banner">
      <div class="carousel-item active">
        <img src="/assets/img-header1.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img-header.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img-header3.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- inicio de section de mis promociones -->

  <section class="promociones-sport-shopping">
    <!-- nuevas promociones y boton de activar scroll horizontal -->
    <div class="nueva-prom">
      <h2 class="h2promos">Nuevas Promociones</h2>
      <div class="scrol-producto b1" id="btn-prom-new">
        <button>
          <i class="bi bi-chevron-left" id="btn-prom-left"></i>
        </button>
        <button>
          <i class="bi bi-chevron-right" id="btn-prom-right"></i>
        </button>
      </div>
    </div>

    <!-- Contenedor de productos nuevas promociones -->

    <div class="Contenedor-nuevasPromociones">
      <div class="nuevasPromos p1">
        <img
          src="/assets/page-hombre/NikeMilerFlash/NikeMilerFlash.jpg"
          alt="nike-mile-flash"
        />
        <h4>Nike Miler Flash</h4>
        <p class="descripcion-promo">
          Camiseta Miler Flash <br />
          5 colores disponibles
        </p>
        <div class="comprar-promo">
          <p class="precio-promos">$ 200.000</p>
          <p class="precio-descuentos">$ 150.000</p>
          <button class="boton-comprar">COMPRAR</button>
        </div>
      </div>

      <div class="nuevasPromos p2">
        <img
          src="/assets/page-mujer/AdiColorClassicSport/AdiColorClassicSport.jpg"
          alt="Adi-color-sport-femenino"
        />
        <h4>Nike Adi Color Sport</h4>
        <p class="descripcion-promo">
          Training run mujer <br />
          20 unidades disponibles
        </p>
        <div class="comprar-promo">
          <p class="precio-promos">$ 200.000</p>
          <p class="precio-descuentos">$ 150.000</p>
          <button class="boton-comprar">COMPRAR</button>
        </div>
      </div>
    </div>
  </section>

  <!-- inicio de la section de tendencia mujer-->

  <section>
    <div class="container-tenden-h-m">
      <!-- inicio de las tendencias de mujer-->
      <div class="tend-new">
        <h3 class="sub-tend">Tendencia Mujer</h3>
        <div class="scrol-producto b1 bts" id="btn-prom-new">
          <button>
            <i class="bi bi-chevron-left" id="btn-prom-left"></i>
          </button>
          <button>
            <i class="bi bi-chevron-right" id="btn-prom-right"></i>
          </button>
        </div>
      </div>

      <!-- tendencias mujer -->

      <div class="tendenciaMujer">
        <div class="nuevo">
          <button class="boton-verMas">Ver mas</button>
          <img
            src="/assets/page-mujer/CahquetaTerrexMulticierreFrontal/CahquetaTerrexMulticierreFrontal.jpg"
            alt="Cahqueta-Terrex-Multi-cierre-Frontal"
          />
        </div>
        <div class="nuevo">
          <button class="boton-verMas">Ver mas</button>
          <img
            src="/assets/page-mujer/MarathonGraphicTee/MarathonGraphicTee.jpg"
            alt="Marathon-Graphic-Tee"
          />
        </div>
      </div>

      <!-- inicio de tendencia de hombre - section -->

      <div class="tend-new">
        <h3 class="sub-tend">Tendencia Hombre</h3>
        <div class="scrol-producto b1 bts" id="btn-prom-new">
          <button>
            <i class="bi bi-chevron-left" id="btn-prom-left"></i>
          </button>
          <button>
            <i class="bi bi-chevron-right" id="btn-prom-right"></i>
          </button>
        </div>
      </div>

      <!-- article de tendencias hombre -->

      <div class="tendenciaHombre">
        <div class="nuevo">
          <button class="boton-verMas">Ver mas</button>
          <img
            src="/assets/page-hombre/Galaxy7W/Galaxy7W.jpg"
            alt="Galax-y-7W-hombre"
          />
        </div>
        <div class="nuevo">
          <button class="boton-verMas">Ver mas</button>
          <img
            src="/assets/page-hombre/ResponseRunerU/ResponseRunerU.jpg"
            alt="ResponseRunerU-Mens-hombre"
          />
        </div>
      </div>
    </div>
    <article class="his-wo">
      <h3 class="na-world">La Historia de World Outlet</h3>
      <p>
        World Outlet nació de una visión clara: facilitar la vida de nuestros
        clientes, ahorrándoles tiempo y dinero mientras acceden a productos de
        alta calidad de las mejores marcas deportivas del mundo.</p>
        
        <p>Todo comenzó cuando identificamos una necesidad en el mercado: muchas personas
        querían acceder a productos de marcas reconocidas como Adidas, Nike,
        Puma, entre otras, pero a precios más accesibles. Nos dimos cuenta de
        que estas marcas a menudo envían productos a tiendas outlet con grandes
        descuentos, pero encontrar estos productos y aprovechar estas ofertas no
        siempre era fácil para los consumidores. </p>

      <p>
        Así nació World Outlet. Decidimos crear una plataforma digital que no solo reuniera estos
        productos en un solo lugar, sino que también estableciera convenios con
        estas grandes marca Desde el principio, nuestra misión ha sido clara:
        brindar a nuestros clientes productos de alta calidad a precios
        inigualables, todo desde la comodidad de su hogar. Con World Outlet, no
        solo ahorras dinero, sino también tiempo, permitiéndote disfrutar de lo
        que realmente importa.</p>
        
        <p>Espero que esta historia te inspire tanto como a
        nosotros. <br> ¡Gracias por ser parte de nuestra comunidad!
      </p>
      <img src="assets/logo/logo-world-outlet.png" class="logo-historia" alt="logo-historia">
    </article>
    <article class="container-aliados">
      <h3 class="h3Aliados">Conoce nuestros aliados</h3>
      <div class="aliados">
        <a href="#"><img src="/assets/logosAliados/adidas.png" alt="aliado-adidas"></a>
        <a href="#"><img src="/assets/logosAliados/nike.png" alt="aliado-nike"></a>
        <a href="#"><img src="/assets/logosAliados/PUMA-logo.jpg" alt="aliado-puma"></a>
        <a href="#"><img src="/assets/logosAliados/Sin título.jpg" alt="aliado-kappa"></a>
        <div class="logo-ali">
        <a href="#"><img src="/assets/logosAliados/Logo Under Armour.JPG" alt="aliado-under-armour"></a>
        <a href="#"><img src="/assets/logosAliados/Skechers-logo.jpg" alt="aliado-Skechers"></a>
      </div>
      </div>
    </article>
    <div class="anun-reg">
      <h3>únete a nuestro club y obten grandes descuentos</h3>
      <button class="reg-gra">Regístrate Gratis</button>
    </div>
  </section>
</main>

<app-footer></app-footer>
