

/* tipografia inter para titulos y subtitulos */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');
/* tipografia poppins para textos */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


:root {

    /* Paleta de colores */
    --color-text: #ffffff;
    --text-hoover: #DC5F00;
    --color-fondo: #D9D9D9;
    --fondo-red: #A80000;
    --fondo-2: #000000;


    /* fuentes - tipografia */

    --T-subtitulos: "Inter", sans-serif;
    --textos: "Poppins", sans-serif;
    --textoAnuncios: "Anton", sans-serif;
}



.img-banner{
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 43rem;
}


/* inicio del article de nuevas promociones */

.nueva-prom {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.h2promos {
    font-size: 50px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 30%;
}

.b1 {
    margin-top: 4%;
    bottom: -10px;
}

.b1 button:hover {
    color: var(--text-hoover);
    transition: 0.4s ease-in-out;
}

/* Boton para cambiar imagen */

.boton-scrol-producto {
    display: flex;
    justify-content: end;
}

.scrol-producto button {
    color: var(--color-fondo);
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    background: none;
    border: 0;
    color: inherit;
    color: var(--color-fondo);
}

.boton-scrol-producto button {
    color: var(--color-fondo);
    text-decoration: none;
    font-weight: bold;
    font-size: 60px;
    background: none;
    border: 0;
    color: inherit;
    color: var(--color-fondo);
    transition: 0.4s ease-in-out;
}

.boton-scrol-producto button:hover {
    color: var(--text-hoover);
}

/* Contenedor para las nuevas promociones */

.Contenedor-nuevasPromociones {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 0;
    scroll-behavior: smooth;
}

.Contenedor-nuevasPromociones::-webkit-scrollbar {
    display: none;
}

.nuevasPromos {
    flex: 0 0 auto;
    margin: 2%;
    width: 25%;
    height: 30%;
}

.nuevasPromos img {
    width: 100%;
    height: 80%;
}

h4 {
    font-family: var(--textos);
}

.descripcion-promo {
    font-family: var(--textos);
}

.comprar-promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.precio-promos {
    color: gray;
    text-decoration: line-through;
    font-weight: bold;
    font-family: var(--T-subtitulos);
}

.precio-descuentos {
    color: var(--text-hoover);
    font-weight:bold;
    font-family: var(--T-subtitulos);
}

.boton-comprar {
    background: var(--color-fondo);
    border: none;
    font-size: 12PX;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 15px;
    font-family: var(--T-subtitulos);
    transition: .4s, color .9s;
    margin-bottom: 5%;
}

.boton-comprar:hover {
    background-color: var(--text-hoover);
    font-size: 12px;
    border: none;
    box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.5);
}

/* TENDENCIA ---- INICIO ---- */

.sub-tend {
    font-size: 40px;
    width: 70%;
    margin-top: 1%;
}

.tend-new{
    display: flex;
    justify-content: space-between; 
}

.bts{
    margin-top: 0;
}

/* SCROLS DE LAS TENDENCIAS */

.tendenciaMujer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 0;
    position: relative;
    scroll-behavior: smooth;
}

.tendenciaHombre {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 0;
    position: relative;
    scroll-behavior: smooth;
}

/* Linea codigo ocultar scrolls de tendencias */

.tendenciaMujer::-webkit-scrollbar {
    display: none;
}

.tendenciaHombre::-webkit-scrollbar {
    display: none;
}

.nuevo {
    width: 25%;
    height: 35vh;
    overflow: hidden;
    flex: 0 0 auto;
    margin: 2%;
    background-size: cover;
}

.nuevo img {
    width: 100%;
    height: auto;
}


@supports (object-fit: cover) {
    .nuevo img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.boton-verMas {
    display: block;
    background-color: var(--color-fondo);
    border: none;
    font-size: 13PX;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 25px;
    font-family: var(--T-subtitulos);
    transition: .5s, color .10s;
    position: absolute;
    margin-left: 18%;
    margin-top: 15%;

}

.boton-verMas:hover {
    background-color: var(--text-hoover);
    font-size: 13px;
    border: none;
    margin-top: 14.5%;
    box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.5);
}

.anun-reg{
    display: flex;
    justify-content: space-around;
    background: rgb(255,255,94);
background: linear-gradient(90deg, rgba(237,255,94,1) 23%, rgba(142,255,0,1) 77%, rgb(165, 248, 31) 100%);
/* background: rgb(237,255,94);
background: linear-gradient(90deg, rgba(237,255,94,1) 23%, rgba(220,178,0,1) 67%, rgba(220,137,0,0.9831582291119573) 100%); */
    padding: 4% 3%;
    align-items: center;

}

.anun-reg h3{
    font-size: 35px;
    text-transform:uppercase;
    font-weight: bold;
}

.reg-gra{
    background-color: #000000;
    color: #ffffff;
    padding: 1% 2%;
    text-transform:uppercase;
    font-family: var(--textos);
    font-weight: bold
}

.reg-gra:hover{
    color: #DC5F00;
    transition: 0.3s ease-in-out;
}

.his-wo{
    margin-top: 5%;
    background-color: #000000;
    color: aliceblue;
    text-align: justify;
    padding: 4% 24%;
    font-family: var(--textos);
    font-size: 17px;
}

.na-world{
    margin-bottom: 6%;
    font-size: 40px;
    font-family: var(--T-subtitulos);
    margin-left: 20%;
}

.logo-historia{
    max-width: 10rem;
    margin-left: 40%;
    padding-top: 2%;
}

.container-aliados{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    flex-direction: column;

}

.h3Aliados{
    margin: 2% 0%;
    font-size: 35px;
    padding-bottom: 5%;
    font-weight: bold;
    text-transform: uppercase;
}

.aliados img{
    max-width: 7rem;
    margin-inline: 50px;

}

.logo-ali{
    margin: 0% 25%;
    margin-top: 5%;
}