

/* ----MODAL DE INICIO DE SESION ------- */

.iniciar-sesion {
    padding: 0;
    margin: 0;
    color: var(--color-text);
    font-size: 25px;
}

.iniciar-sesion:hover {
    color: var(--text-hoover);
}

.bot-ini-cre-cuet {
    display: flex;
    flex-direction: column;
}

.btn-ini-ses {
    background: black;
    color: var(--color-text);
    padding: 10px 150px 10px 150px;
    font-size: 20px;
} 

.btn-ini-ses:hover {
    background: var(--text-hoover);
}

.btn-crea-cta {
    background: black;
    padding: 10px 150px 10px 150px;
    font-size: 18px;
}

.btn-crea-cta a {
    list-style: none;
    text-decoration: none;
    color: var(--color-text);
}

.btn-crea-cta:hover {
    background: var(--text-hoover);
}

.p-regis {
    color: rgb(13, 191, 0);
    text-decoration: underline;
}

.scrol{
    height: 100px;
}