<header>
    <a href="../index.html"><img class="img-logo" src="../assets/logo/Shopping_shop_logo.png"
            alt="shopping_shop_logo"></a>
    <button class="abrir-menu"><i class="bi bi-list"></i></button>
    <nav class="nav">
        <div class="Buscar-container">
            <input class="input" type="text" id="search-input" placeholder="Buscar...">
            <button class="icon-buscar" id="buscar-button">
                <i class="bi bi-search" aria-hidden="true"></i>
            </button>
        </div>
        <ul class="nav-list">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./pages/page-hombre.html">Hombre</a></li>
            <li><a href="./pages/page.mujer.html">Mujer</a></li>
            <!-- <li><a href="#">Soporte</li></a> -->
            <button type="button" class="btn iniciar-sesion" data-bs-toggle="modal"
                data-bs-target="#exampleModal"><i class="bi bi-person-fill"></i>
            </button>
            <a href="./pages/modal.carrito.html"><li><i class="bi bi-bag"></i></li></a>
        </ul>

        <!-- Modal inicio de sesion -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header inicio-sesion">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Inicia sesión</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Correo electrónico</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword"
                                placeholder="Password">
                            <label for="floatingPassword">Contraseña</label>
                        </div>
                    </div>
                    <div class="modal-footer bot-ini-cre-cuet">
                        <button type="button" class="btn btn-ini-ses">Iniciar sesión</button>
                        <a class="p-regis" href="#">¿ Aún no estas registrado ?</a>
                        <button type="button" class="btn btn-crea-cta" data-bs-dismiss="modal"> <a
                                href="./pages/registro.html">Crear Cuenta</a></button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>