<div class=".header">
  <nav class="nav">

    <a routerLink="/inicio"><img class="img-logo" src="/assets/logo/logo-world-outlet.png" alt="Outlet-world"/>
    </a>
  <button class="abrir-menu"><i class="bi bi-list"></i></button>

    <div class="Buscar-container">
      <input
        class="input"
        type="text"
        id="search-input"
        placeholder="Buscar..."
      />
      <button class="icon-buscar" id="buscar-button">
        <i class="bi bi-search" aria-hidden="true"></i>
      </button>
    </div>
    <ul class="nav-list">
          <li><a routerLink="/inicio">Inicio</a></li>
          <li><a routerLink="/hombre">Hombre</a></li>
          <li><a routerLink="/mujer">Mujer</a></li>
          <li><a ><i class="bi bi-person-fill" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></a></li>
          <li><a href="#"><i class="bi bi-cart3"></i></a></li>
    </ul>

 <!-- Modal inicio de sesion / component-->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-header inicio-sesion">
             <h1 class="modal-title fs-5" id="exampleModalLabel">Inicia sesión</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
             <div class="form-floating mb-3">
                 <input type="email" class="form-control" id="floatingInput"
                     placeholder="name@example.com">
                 <label for="floatingInput">Correo electrónico</label>
             </div>
             <div class="form-floating">
                 <input type="password" class="form-control" id="floatingPassword"
                     placeholder="Password">
                 <label for="floatingPassword">Contraseña</label>
             </div>
         </div>
         <div class="modal-footer bot-ini-cre-cuet">
             <button type="button" class="btn btn-ini-ses">Iniciar sesión</button>
             <a class="p-regis" href="#">¿ Aún no estas registrado ?</a>
             <button type="button" class="btn btn-crea-cta" data-bs-dismiss="modal"> <a
                     href="./pages/registro.html">Crear Cuenta</a></button>
         </div>
     </div>
 </div>
</div>



  </nav>
  <!-- <img class="img-banner" src="/assets/img-header.jpg" alt=""> -->
</div>