<div class="sidebar" >
  <div class="logo">
    <img src="/assets/logo/logo-world-outlet.png" alt="E-commerce Logo">
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="inventario">
          <i class="bi bi-boxes"></i>
          Inventario
        </a>
      </li>
      <li>
        <a routerLink="controlUsuarios" >
          <i class="bi bi-people"></i>
          Usuarios
        </a>
      </li>
      <li>
        <a routerLink="controlUsuariosAdmin" >
          <i class="bi bi-person-rolodex"></i>
          Administradores
        </a>
      </li>
    </ul>
  </nav>
  <div class="user-active">
    <div class="icon-admin">
    <a href="" ><i class="bi bi-person-badge">Administrador</i></a>
    </div>
    <div>
    <a href="" ><i class="bi bi-box-arrow-left">Cerrar Sesión</i></a>
    </div>
  </div>
</div>
<router-outlet />
