<app-nav></app-nav>

<main>
    <!-- -----------INICIO DE SECTION ----------------- -->
    <section>

        <h1>Crear Cuenta</h1>
        <div class="container-crea-cuenta">
            <form class="form-crear-cuenta container-datos">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label styles-form">Nombres Completos <span
                            class="sp-obli">*</span></label>
                    <input type="text" class="form-control caja-form" id="formGroupExampleInput"
                        placeholder="Nombres Completos">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label styles-form">Apellidos Completos <span
                            class="sp-obli">*</span></label>
                    <input type="text" class="form-control caja-form" id="formGroupExampleInput2"
                        placeholder="Apellidos Completos">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label styles-form">Correo Electrónico <span
                            class="sp-obli">*</span></label>
                    <input type="email" class="form-control caja-form" id="exampleInputEmail1"
                        placeholder="Correo Electrónico" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text anuncio-correo">Nunca compartiremos tu correo electrónico
                        con nadie más.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label styles-form">Contraseña <span
                            class="sp-obli">*</span></label>
                    <input type="password" class="form-control caja-form" id="exampleInputPassword1"
                        placeholder="Contraseña">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label styles-form">Confirmar Contraseña <span
                            class="sp-obli">*</span></label>
                    <input type="password" class="form-control caja-form" id="exampleInputPassword1"
                        placeholder="Confirmar Contraseña">
                </div>
            </form>

            <form class="row g-3 container-info-residen">
                <div class="col-12">
                    <label for="inputAddress" class="form-label styles-form">Dirección <span
                            class="sp-obli">*</span></label>
                    <input type="text" class="form-control caja-form" id="inputAddress" placeholder="Dirección">
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label styles-form ">Ciudad <span
                            class="sp-obli">*</span></label>
                    <select id="inputState" class="form-select caja-form cf2">
                        <option selected>Seleccionar</option>
                        <option value="Arauca">Arauca</option>
                        <option value="Armenia">Armenia</option>
                        <option value="Barranquilla">Barranquilla</option>
                        <option value="Bogotá">Bogotá</option>
                        <option value="Bucaramanga">Bucaramanga</option>
                        <option value="Cali">Cali</option>
                        <option value="Cartagena">Cartagena</option>
                        <option value="Cúcuta">Cúcuta</option>
                        <option value="Florencia">Florencia</option>
                        <option value="Ibagué">Ibagué</option>
                        <option value="Leticia">Leticia</option>
                        <option value="Manizales">Manizales</option>
                        <option value="Medellín">Medellín</option>
                        <option value="Mitú">Mitú</option>
                        <option value="Mocoa">Mocoa</option>
                        <option value="Montería">Montería</option>
                        <option value="Neiva">Neiva</option>
                        <option value="Pasto">Pasto</option>
                        <option value="Pereira">Pereira</option>
                        <option value="Popayán">Popayán</option>
                        <option value="Puerto Carreño">Puerto Carreño</option>
                        <option value="Puerto Inírida">Puerto Inírida</option>
                        <option value="Quibdó">Quibdó</option>
                        <option value="Riohacha">Riohacha</option>
                        <option value="San Andrés">San Andrés</option>
                        <option value="San José del Guaviare">San José del Guaviare</option>
                        <option value="Santa Marta">Santa Marta</option>
                        <option value="Sincelejo">Sincelejo</option>
                        <option value="Tunja">Tunja</option>
                        <option value="Valledupar">Valledupar</option>
                        <option value="Villavicencio">Villavicencio</option>
                        <option value="Yopal">Yopal</option>
                    </select>
                </div>
                <div class="col-md-4">

                    <label for="inputState" class="form-label styles-form derp-nom"> Departamento <span
                            class="sp-obli">*</span></label>
                    <select id="inputState" class="form-select caja-form cf2">
                        <option selected>Seleccionar</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Antioquia">Antioquia</option>
                        <option value="Arauca">Arauca</option>
                        <option value="Atlántico">Atlántico</option>
                        <option value="Bolívar">Bolívar</option>
                        <option value="Boyacá">Boyacá</option>
                        <option value="Caldas">Caldas</option>
                        <option value="Caquetá">Caquetá</option>
                        <option value="Casanare">Casanare</option>
                        <option value="Cauca">Cauca</option>
                        <option value="Cesar">Cesar</option>
                        <option value="Chocó">Chocó</option>
                        <option value="Córdoba">Córdoba</option>
                        <option value="Cundinamarca">Cundinamarca</option>
                        <option value="Guainía">Guainía</option>
                        <option value="Guaviare">Guaviare</option>
                        <option value="Huila">Huila</option>
                        <option value="La Guajira">La Guajira</option>
                        <option value="Magdalena">Magdalena</option>
                        <option value="Meta">Meta</option>
                        <option value="Nariño">Nariño</option>
                        <option value="Norte de Santander">Norte de Santander</option>
                        <option value="Putumayo">Putumayo</option>
                        <option value="Quindío">Quindío</option>
                        <option value="Risaralda">Risaralda</option>
                        <option value="San Andrés y Providencia">San Andrés y Providencia</option>
                        <option value="Santander">Santander</option>
                        <option value="Sucre">Sucre</option>
                        <option value="Tolima">Tolima</option>
                        <option value="Valle del Cauca">Valle del Cauca</option>
                        <option value="Vaupés">Vaupés</option>
                        <option value="Vichada">Vichada</option>
                    </select>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-crea-cta2">Crear Cuenta</button>
                </div>
            </form>

        </div>
    </section>
    
</main>

<app-footer></app-footer>