
<app-nav></app-nav>

<main>
    <section class="banner">
        <article class="ref-hombre">
            <div class="container-ref">
                <div class="ref-p">
                <p>“Entrena con lo mejor: Ropa deportiva para Hombres a precios increíbles, solo aquí World Outlet Tu Tienda de Confianza</p>
                </div>
            </div>
            <img src="/assets/page-hombre/Nacional3D/042db7b0974b1cdbb847a0e87b7be5dd455da72a_Banner 3kit Nike 2024.png" alt="AtleticoNacional-Nacional">
            <h1>Atlético Nacional KIT 3ER</h1>
            <p class="des-nac">Inspirado en la pasión que todos los fanáticos sienten cuando el equipo
                sale al campo de juego, el diseño de las ondas representa los latidos del corazón de todos los verdolagas.
            </p>
            <button class="reg-gra">Comprar</button>
        </article>
    </section>
    
 <!-- Contenedor de productos hora de correr -->

    <section class="sec-time-running">
        <div class="time-runnig">
            <h2 class="hR">Hora de correr</h2>
            <div class="scrol-producto b1" id="btn-prom-new">
              <button>
                <i class="bi bi-chevron-left" id="btn-prom-left"></i>
              </button>
              <button>
                <i class="bi bi-chevron-right" id="btn-prom-right"></i>
              </button>
            </div>
          </div>

    <div class="container-runnig">
        <div class="runnig-go p1">
          <img
            src="/assets/page-hombre/timeRunning/calzadoCarretera/668522-800-auto.png"
            alt="calzadoCarretera"
          />
          <h4>Nike Miler Flash</h4>
          <p class="descripcion-promo">
            Nike Vaporfly 3 Electric
          Calzado de correr en carretera, comodos y atractivos.</p>
          <div class="shopRunnig">
            <p class="precios">$ 999.000</p>
            <button class="boton-comprar">COMPRAR</button>
          </div>
        </div>
    </div>

<!-- Seccion de deportiva -->

    </section>

    <!-- <div class="Fav-deporte">
        <h2 class="hDeporte">Por tu deporte favorito</h2>
        <div class="scrol-producto b1" id="btn-prom-new">
          <button>
            <i class="bi bi-chevron-left" id="btn-prom-left"></i>
          </button>
          <button>
            <i class="bi bi-chevron-right" id="btn-prom-right"></i>
          </button>
        </div>
      </div>
      
      Contenedor de productos clasicos tendencias

<div class="container-clasicos">
    <div class="classic p1">
      <img
        src="/assets/page-hombre/timeRunning/calzadoCarretera/668522-800-auto.png"
        alt="calzadoCarretera"
      />
      <h4>Nike Miler Flash</h4>
      <p class="descripcion-promo">
        Nike Vaporfly 3 Electric
      </p>

      <div class="shopRunnig">
        <p class="precios">$ 999.000</p>
        <button class="boton-comprar">COMPRAR</button>
      </div>
    </div>
</div> -->

<section class="sec-time-running ">
  <div class="time-runnig">
      <h2 class="hR">Por tu deporte favorito</h2>
      <div class="scrol-producto b1" id="btn-prom-new">
        <button>
          <i class="bi bi-chevron-left" id="btn-prom-left"></i>
        </button>
        <button>
          <i class="bi bi-chevron-right" id="btn-prom-right"></i>
        </button>
      </div>
    </div>
<article class="ContainerDeportes">
<div class="container-runnig sec">
  <div class="runnig-go p1">
    <img
      src="/assets/page-hombre/deporteFavorito/correr.jpeg"
      alt="calzadoCarretera"
    />
    <h4>Correr</h4>
  </div>

</div>
<div class="container-runnig sec">
  <div class="runnig-go p1">
    <img
      src="/assets/page-hombre/deporteFavorito/basquet.png"
      alt="calzadoCarretera"
    />
    <h4>Básquetbol</h4>
  </div>

</div>
<div class="container-runnig sec">
  <div class="runnig-go p1">
    <img
      src="/assets/page-hombre/deporteFavorito/futbol.jpeg"
      alt="calzadoCarretera"
    />
    <h4>Fútbol</h4>
  </div>
</div>
<div class="container-runnig sec">
  <div class="runnig-go p1">
    <img
      src="/assets/page-hombre/deporteFavorito/gimnasio.jpg"
      alt="calzadoCarretera"
    />
    <h4>Gimnasio</h4>
  </div>
</div>
<div class="container-runnig sec">
  <div class="runnig-go p1">
    <img
      src="/assets/page-hombre/deporteFavorito/tenis.jpeg"
      alt="calzadoCarretera"
    />
    <h4>Tenis</h4>
  </div>
</div>
</article>
</section>


    <section>
      <article class="container-aliados">
        <h3 class="h3Aliados">Conoce nuestros aliados</h3>
        <div class="aliados">
          <a href="#"><img src="/assets/logosAliados/adidas.png" alt="aliado-adidas"></a>
          <a href="#"><img src="/assets/logosAliados/nike.png" alt="aliado-nike"></a>
          <a href="#"><img src="/assets/logosAliados/PUMA-logo.jpg" alt="aliado-puma"></a>
          <a href="#"><img src="/assets/logosAliados/Sin título.jpg" alt="aliado-kappa"></a>
          <div class="logo-ali">
          <a href="#"><img src="/assets/logosAliados/Logo Under Armour.JPG" alt="aliado-under-armour"></a>
          <a href="#"><img src="/assets/logosAliados/Skechers-logo.jpg" alt="aliado-Skechers"></a>
        </div>
        </div>
      </article>
      <div class="anun-reg">
        <h3>únete a nuestro club y obten grandes descuentos</h3>
        <button class="reg-gra">Regístrate Gratis</button>
      </div>    
    </section>
</main>

<app-footer></app-footer>
