
<app-nav></app-nav>
<section class="category-links">
    <div class="category">
        <a href="#">
            <img src="/frontEnd/public/assets/page-hombre/adidas1/adidas1.jpg" alt="Calzado">
            <p>Calzado</p>
        </a>
    </div>
    <div class="category">
        <a href="#">
            <img src="/frontEnd/public/assets/page-hombre/adidas2/adidas2.jpg" alt="Ropa">
            <p>Ropa</p>
        </a>
    </div>
    <div class="category">
        <a href="#">
            <img src="/frontEnd/public/assets/page-hombre/camisetaAdidas1/camisetaAdidas1.jpg" alt="Running">
            <p>Running</p>
        </a>
    </div>
    <div class="category">
        <a href="#">
            <img src="/frontEnd/public/assets/page-hombre/camisetaPuma1/camisetaPuma1.jpg" alt="Outlet">
            <p>Outlet</p>
        </a>
    </div>
</section>

<hr>

<section class="video-promocional">
    <h1 class="Titulo">WorldOutlet</h1>
    <div class="Seccion-info" id="div-video">
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=Yq96c2-hK2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda modi error exercitationem dolore nulla vitae saepe eveniet. Quisquam facilis esse saepe eligendi ipsam eos, quia debitis nostrum aliquam, iste repudiandae.</p> <!--la etiqueta p es para agregar parrafos-->
    </div>
</section>

<hr>

<section class="featured">
    <div class="featured-item">
        <a href="#">
            <img src="/frontEnd/public/assets/page-hombre/AtleticoNacional/AtleticoNacional.jpg" alt="Bogotá 1">
        </a>
    </div>
    <div class="featured-item">
        <a href="#">
            <img src="/frontEnd/public/assets/page-hombre/ForeverRun NITRO™ Men's Running/ForeverRunNitroMens.jpg" alt="Tenis">
        </a>
    </div>
    <div class="featured-item">
        <a href="#">
            <img src="/frontEnd/public/assets/page-hombre/Galaxy7W/Galaxy7W.jpg" alt="Bogotá 2">
        </a>
    </div>
</section>
<app-carrusel></app-carrusel>
<app-footer></app-footer>