/* tipografia inter para titulos y subtitulos */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');
/* tipografia poppins para textos */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


:root {

  /* Paleta de colores */
  --color-text: #ffffff;
  --text-hoover: #DC5F00;
  --color-fondo: #D9D9D9;
  --fondo-red: #A80000;
  --fondo-2: #000000;


  /* fuentes - tipografia */

  --T-subtitulos: "Inter", sans-serif;
  --textos: "Poppins", sans-serif;
  --textoAnuncios: "Anton", sans-serif;
}

main{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.container-ref{
    gap: 60px;
    width: 100%;
    font-family: var(--T-subtitulos);
    color: #000000;
    background-color: rgb(224, 224, 224);
    padding-top: 1%;
}

.pH{
    font-size: 20px;
}

.ref-p{
    display: flex;
    font-style: italic;
    text-decoration: underline;
    white-space: nowrap;
    animation: moverTexto 12s linear infinite;

}

@keyframes moverTexto {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-60%);
    }
}

.container-ref a{
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.banner{
    display: flex;
    text-align: center; 
    width: 100%;
}

.banner img{
    overflow-x:auto;
    max-width: 100%;

}

h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 60px;
    font-family: var(--textoAnuncios);
    padding-top: 1%;
    color: #000000;
}

.des-nac{
    font-size: 17px;
    font-family: var(--textos);
    width: 55%;
    margin-left: 23%;
}

.reg-gra{
    background-color: #000000;
    color: #ffffff;
    padding: 6px 6px;
    font-family: var(--textos);
    transition: .5s, color .10s;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.reg-gra:hover{
    color: #DC5F00;
    transition: 0.15s ease-in-out;
    box-shadow: 4px 6px 4px -2px rgba(0, 0, 0, 0.5);
}
  
  @keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }

/* Estilos section hora de correr */

.sec-time-running{
    width: 95%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2%;
}

.time-runnig{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Boton de scrol */

.boton-scrol-producto {
    display: flex;
    justify-content: end;
}

.scrol-producto button {
    color: var(--color-fondo);
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    background: none;
    border: 0;
    color: inherit;
    color: var(--color-fondo);
}

.boton-scrol-producto button {
    color: var(--color-fondo);
    text-decoration: none;
    font-weight: bold;
    font-size: 60px;
    background: none;
    border: 0;
    color: inherit;
    color: var(--color-fondo);
    transition: 0.4s ease-in-out;
}

.boton-scrol-producto button:hover {
    color: var(--text-hoover);
}

.b1 {
    margin-top: 4%;
    bottom: -10px;
}

.b1 button:hover {
    color: var(--text-hoover);
    transition: 0.4s ease-in-out;
}

.time-runnig{
    display: flex;
}

.container-runnig{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 25%;
    height: 30%;
    border: solid 1px rgb(227, 219, 219);
    border-radius: 5px;
    padding: 0 1% 0 1%;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); */
}

.container-runnig:hover{
    transition: 0.15s ease-in-out;
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.475);
}

.container-runnig img{
    width: 100%;
    height: 80%;
}

.container-runnig h4{
    font-family: var(--textos);
}

.shopRunnig{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-comprar {
    background: var(--color-fondo);
    border: none;
    font-size: 12PX;
    border-radius: 8px;
    font-weight: bold;
    padding: 5px 15px;
    font-family: var(--T-subtitulos);
    transition: .4s, color .9s;
    margin-bottom: 5%;
}

.boton-comprar:hover {
    background-color: var(--text-hoover);
    font-size: 12px;
    border: none;
    box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.5);
}

.precios{
    color: gray;
    font-weight: bold;
    font-family: var(--T-subtitulos);
}



.container-aliados{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    flex-direction: column;

}

.h3Aliados{
    margin: 2% 0%;
    font-size: 35px;
    padding-bottom: 5%;
    font-weight: bold;
    text-transform: uppercase;
}

.aliados img{
    max-width: 7rem;
    margin-inline: 50px;

}

.logo-ali{
    margin: 0% 25%;
    margin-top: 5%;
}

.anun-reg{
    display: flex;
    justify-content: space-around;
    background: rgb(41,41,41);
    background: linear-gradient(90deg, rgba(41,41,41,1) 0%, rgba(253,29,29,1) 54%, rgba(252,176,69,1) 100%);
    padding: 4% 3%;
    align-items: center;

}

.anun-reg h3{
    font-size: 35px;
    text-transform:uppercase;
    font-weight: bold;
    color: #D9D9D9;
}


.reg-gra{
    background-color: #000000;
    color: #ffffff;
    padding: 1% 2%;
    text-transform:uppercase;
    font-family: var(--textos);
    font-weight: bold
}

.reg-gra:hover{
    color: #DC5F00;
    transition: 0.3s ease-in-out;
}

.sec{
    border: none;
    padding: 0;
    margin-top: 2%;
}

.sec h4{
    margin-top: 5%;
    font-weight: bold;
    margin-left: 1%;
}

.ContainerDeportes{
    display: flex;
    gap: 50px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
    }

.sec img{
    max-width: 25rem;
    height: 12rem;
    object-fit: cover;
}


/* -------------- RESPONSIVE PARA IPHONE 12 PRO ------------------- */

@media screen and (max-width: 600px){
    
    main{
        width: 100%;
    }
    
    .ref-hombre{
        width: 100%;
        
    }

    .banner{
        width: 100%;
    }

    .ref-p{
        width: 100%;
    }

    .ref-p p{
        font-size: 12px;
    }

    h1{
        font-size: 30px;
    }

    .des-nac{
        width: 100%;
        margin: 3% 0;
        font-size: 15px;
    }

    .sec-time-running{
       width: 100%;
    }

    .runnig-go{
        overflow-x: scroll;
    }

    .ContainerDeportes{
        overflow-x: scroll;
    }

    .time-runnig{
        width: 95%;
    }

    .hR{
        margin: 8% 0;
    }

    .scrol-producto{
        display: none;
    }

    .container-runnig{
        width: 60%;
    }

    
    .container-aliados{
        width: 100%;
    }

    .aliados{
        width: 100%;
    }

    .h3Aliados{
        text-align: center;
    }

    .logo-ali{
        width: 100%;
        margin: 0;
    }

    .aliados img{
        width: 70px;
    }

    .anun-reg{
        width: 100%;
    }

    .anun-reg h3{
        font-size: 14px;
    }

    .reg-gra{
        font-size: 12px;
        font-weight: normal;
    }

}

/* RESPONSIVE PARA IPAD PRO */

@media screen and (min-width: 601px) and (max-width: 768px)  {
    .banner{
        padding-top: 0;
    }
}
