
<app-nav></app-nav>
<div class="body">
  <section class="category-links">
      <div class="category">
          <a href="#">
              <img src="/assets/page-hombre/adidas1/adidas1.jpg" alt="Calzado">
          </a>
        <p>Calzado</p>
      </div>
      <div class="category">
          <a href="#">
              <img src="/assets/page-hombre/adidas2/adidas2.jpg" alt="Ropa">
          </a>
        <p>Ropa</p>
      </div>
      <div class="category">
          <a href="#">
              <img src="/assets/page-hombre/camisetaAdidas1/camisetaAdidas1.jpg" alt="Running">
          </a>
        <p>Running</p>
      </div>
      <div class="category">
          <a href="#">
              <img src="/assets/page-hombre/camisetaPuma1/camisetaPuma1.jpg" alt="Outlet">
          </a>
        <p>Outlet</p>
      </div>
  </section>

  <hr>

  <section class="video-promocional">
      <h1 class="Titulo">WorldOutlet</h1>
      <div class="Seccion-info" id="div-video">
        <iframe width="1000" height="500" src="https://www.youtube.com/embed/u2FLSmVsFs0" title="Football Anthem Film | adidas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda modi error exercitationem dolore nulla vitae saepe eveniet. Quisquam facilis esse saepe eligendi ipsam eos, quia debitis nostrum aliquam, iste repudiandae.</p> <!--la etiqueta p es para agregar parrafos-->
  </section>

  <hr>

  <section class="featured">
      <div class="featured-item">
          <a href="#">
              <img src="/assets/page-hombre/adidas1/adidas1.jpg" alt="Bogotá 1">
          </a>
      </div>
      <div class="featured-item">
          <a href="#">
              <img src="/assets/page-hombre/ForeverRun NITRO™ Men's Running/ForeverRunNitroMens.jpg" alt="Tenis">
          </a>
      </div>
      <div class="featured-item">
          <a href="#">
              <img src="/assets/page-hombre/Galaxy7W/Galaxy7W.jpg" alt="Bogotá 2">
          </a>
      </div>
  </section>
</div>
<app-footer></app-footer>
