<app-nav></app-nav>
<div class="body">
  <section class="category-links">
      <div class="category">
          <a href="#">
              <img src="/assets/page-mujer/ChaquetaTerrexMulti2LRain.Rdy/descripcion1.jpg" alt="Calzado">
          </a>
          <p>Calzado</p>
      </div>
      <div class="category">
          <a href="#">
              <img src="/assets/page-mujer/NikeSportswearClubFleece/NikeSportsWearClubFleece.jpg" alt="Ropa">
          </a>
          <p>Ropa</p>
      </div>
      <div class="category">
          <a href="#">
              <img src="/assets/page-mujer/CahquetaTerrexMulticierreFrontal/descripcion2.jpg" alt="Running">
          </a>
          <p>Running</p>
      </div>
      <div class="category">
          <a href="#">
              <img src="/assets/page-mujer/ChaquetaDeportivaTiroAdidasXFarmRio/ChaquetaDeportivaTiroAdidasXFarmRio.jpg" alt="Outlet">
          </a>
          <p>Outlet</p>
      </div>
  </section>

  <hr>

  <section class="video-promocional">
      <h1 class="Titulo">WorldOutlet</h1>
      <div class="Seccion-info" id="div-video">
        <iframe width="1000" height="500" src="https://www.youtube.com/embed/_R9uWNf7j6c" title="Let&#39;s Break Barriers | adidas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda modi error exercitationem dolore nulla vitae saepe eveniet. Quisquam facilis esse saepe eligendi ipsam eos, quia debitis nostrum aliquam, iste repudiandae.</p> <!--la etiqueta p es para agregar parrafos-->
      </div>
  </section>

  <hr>

  <section class="featured">
      <div class="featured-item">
          <a href="#">
              <img src="/assets/page-mujer/MarathonGraphicTee/MarathonGraphicTee.jpg" alt="Bogotá 1">
          </a>
        <p>Ultima coleccion deportiva</p>
      </div>
      <div class="featured-item">
          <a href="#">
              <img src="/assets/page-mujer/AdiColorClassicSport/AdiColorClassicSport.jpg" alt="Tenis">
          </a>
        <p>Mayores descuentos en calzado</p>
      </div>
      <div class="featured-item">
          <a href="#">
              <img src="/assets/page-mujer/NikeAirMax1/NikeAirMax1.jpg" alt="Bogotá 2">
          </a>
        <p>Ropa deportiva de Hombres</p>
      </div>
  </section>
</div>
<app-footer></app-footer>
