<app-nav></app-nav>

<main>
    <section class="banner">
        <article class="ref-mujer">
            <div class="container-ref">
                <div class="ref-p">
                <p>Descubre nuestra colección de ropa deportiva diseñada para mujeres fuertes y seguras. ¡Entrena con comodidad y luce increíble en cada movimiento!</p>
                </div>
            </div>
            <img src="/assets/page-mujer/banner/banner.jpg" alt="mujer-Ropa-Deportiva">
            <h1>Empodérate y descubre tu mundo femenino con nosotros.</h1>
            <p class="des-nac">Bienvenida a un espacio dedicado a celebrar la fuerza, la belleza y la autenticidad de cada mujer. Aquí encontrarás una colección exclusiva de ropa deportiva diseñada para acompañarte en cada paso de tu viaje. Desde entrenamientos intensos hasta momentos de relajación, nuestra ropa está pensada para realzar tu estilo y comodidad.
            </p>
        </article>
    </section>
 <!-- Contenedor de productos hora de correr -->

    <section class="sec-time-running">
        <div class="time-runnig">
            <h2 class="hR">Empodérate</h2>
            <div class="scrol-producto b1" id="btn-prom-new">
              <button>
                <i class="bi bi-chevron-left" id="btn-prom-left" (click)="runLeft()"></i>
              </button>
              <button>
                <i class="bi bi-chevron-right" id="btn-prom-right" (click)="runRigh()"></i>
              </button>
            </div>
          </div>
          @for (producto of todosProductos; track $index) {
    <div class="container-runnig" #empoderate>
        <div class="runnig-go p1">
          <img
          src={{producto.imagen}}
          alt="calzadoCarretera"
        />
          <h4>{{ producto.nombre }}</h4>
          <p class="descripcion-promo">
            {{ producto.descripcion }}</p>
          <div class="shopRunnig">
            <p class="precios">{{ producto.precio }}</p>
            <button class="boton-comprar">COMPRAR</button>
          </div>
        </div>
    </div>}

<!-- Seccion de deportiva -->

    </section>

<section class="sec-time-running ">
  <div class="time-runnig">
      <h2 class="hR">Conoce tus deportes Favoritos</h2>
      <div class="scrol-producto b1" id="btn-prom-new">
        <button>
          <i class="bi bi-chevron-left" id="btn-prom-left" (click)="LeftRn()"></i>
        </button>
        <button>
          <i class="bi bi-chevron-right" id="btn-prom-right" (click)="RighRn()"></i>
        </button>
      </div>
    </div>
<article class="ContainerDeportes" #deportes>
<div class="container-runnig sec">
  <div class="runnig-go p1"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <img
      src="/assets/page-mujer/deporte favorito/correr.webp"
      alt="calzadoCarretera"
    />
    <h4>Correr</h4>
  </div>
</div>
<div class="container-runnig sec">
  <div class="runnig-go p1"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <img
      src="/assets/page-mujer/deporte favorito/basquet.jpeg"
      alt="calzadoCarretera"
    />
    <h4>Básquetbol</h4>
  </div>

</div>
<div class="container-runnig sec">
  <div class="runnig-go p1"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <img
      src="/assets/page-mujer/deporte favorito/futbol.jpeg"
      alt="calzadoCarretera"
    />
    <h4>Fútbol</h4>
  </div>
</div>
<div class="container-runnig sec">
  <div class="runnig-go p1"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <img
      src="/assets/page-mujer/deporte favorito/gimnasio.jpg"
      alt="calzadoCarretera"
    />
    <h4>Gimnasio</h4>
  </div>
</div>
<div class="container-runnig sec">
  <div class="runnig-go p1"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <img
      src="/assets/page-mujer/deporte favorito/tenis.jpg"
      alt="calzadoCarretera"
    />
    <h4>Tenis</h4>
  </div>
</div>
</article>
</section>

  <!-- Futbol -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Futbol Femenino</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Tsu Chu: Los Primeros Pasos:</h4>
              <p>Hace miles de años, en China, existía un juego llamado Tsu Chu. En este juego, tanto hombres como mujeres participaban y consistía en dar patadas a un balón e intentar llegar a la red con cualquier parte del cuerpo, excepto las manos.</p>
              <p>Aunque no era exactamente fútbol como lo conocemos hoy, Tsu Chu sentó las bases para la participación femenina en deportes de balón.</p>
              <hr>
              <h4>La Primera Guerra Mundial y la Popularización:</h4>
              <p>Durante la Primera Guerra Mundial, muchos hombres se enlistaron, lo que llevó a la masificación del fútbol femenino en Inglaterra.</p>
              <p>A pesar de su éxito y popularidad, la Asociación de Fútbol (FA) no lo reconoció oficialmente hasta después del Mundial de 1966</p>
              <hr>
              <h4>La UEFA Women's Champions League:</h4>
              <p>La Copa de Europa femenina comenzó en 2001 con la participación de 33 equipos. El Frankfurt se llevó el título en la primera edición.</p>
              <p>Hoy en día, la UEFA Women's Champions League sigue siendo una competición emocionante y prestigiosa.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <section>
      <article class="container-aliados">
        <h3 class="h3Aliados">Conoce nuestros aliados</h3>
        <div class="aliados">
          <a href="#"><img src="/assets/logosAliados/adidas.png" alt="aliado-adidas"></a>
          <a href="#"><img src="/assets/logosAliados/nike.png" alt="aliado-nike"></a>
          <a href="#"><img src="/assets/logosAliados/PUMA-logo.jpg" alt="aliado-puma"></a>
          <a href="#"><img src="/assets/logosAliados/Sin título.jpg" alt="aliado-kappa"></a>
          <div class="logo-ali">
          <a href="#"><img src="/assets/logosAliados/Logo Under Armour.JPG" alt="aliado-under-armour"></a>
          <a href="#"><img src="/assets/logosAliados/Skechers-logo.jpg" alt="aliado-Skechers"></a>
        </div>
        </div>
      </article>
      <div class="anun-reg">
        <h3>únete a nuestro club y obten grandes descuentos</h3>
        <button class="reg-gra">Regístrate Gratis</button>
      </div>    
    </section>
</main>

<app-footer></app-footer>
