<app-nav></app-nav>

<main>
    <section class="banner">
        <article class="ref-mujer">
            <div class="container-ref">
                <div class="ref-p">
                <p>Descubre nuestra colección de ropa deportiva diseñada para mujeres fuertes y seguras. ¡Entrena con comodidad y luce increíble en cada movimiento!</p>
                </div>
            </div>
            <img src="/assets/page-mujer/banner/banner.jpg" alt="mujer-Ropa-Deportiva">
            <h1>Empodérate y descubre tu mundo femenino con nosotros.</h1>
            <p class="des-nac">Bienvenida a un espacio dedicado a celebrar la fuerza, la belleza y la autenticidad de cada mujer. Aquí encontrarás una colección exclusiva de ropa deportiva diseñada para acompañarte en cada paso de tu viaje. Desde entrenamientos intensos hasta momentos de relajación, nuestra ropa está pensada para realzar tu estilo y comodidad.
            </p>
        </article>
    </section>
 <!-- Contenedor de productos hora de correr -->

    <section class="sec-time-running">
        <div class="time-runnig">
            <h2 class="hR">Empodérate</h2>
            <div class="scrol-producto b1" id="btn-prom-new">
              <button>
                <i class="bi bi-chevron-left" id="btn-prom-left"></i>
              </button>
              <button>
                <i class="bi bi-chevron-right" id="btn-prom-right"></i>
              </button>
            </div>
          </div>

    <div class="container-runnig">
        <div class="runnig-go p1">
          <img
            src="/assets/page-mujer/Nike SportswearFem/NikeSportWearFem.jpg"
            alt="calzadoCarretera"
          />
          <h4>Nike Alate de alta sujeción</h4>
          <p class="descripcion-promo">
            Bra deportivo convertible con almohadillas para mujer</p>
          <div class="shopRunnig">
            <p class="precios">$ 200.000</p>
            <button class="boton-comprar">COMPRAR</button>
          </div>
        </div>
    </div>

<!-- Seccion de deportiva -->

    </section>

<section class="sec-time-running ">
  <div class="time-runnig">
      <h2 class="hR">Por tu deporte favorito</h2>
      <div class="scrol-producto b1" id="btn-prom-new">
        <button>
          <i class="bi bi-chevron-left" id="btn-prom-left"></i>
        </button>
        <button>
          <i class="bi bi-chevron-right" id="btn-prom-right"></i>
        </button>
      </div>
    </div>
<article class="ContainerDeportes">
<div class="container-runnig sec">
  <div class="runnig-go p1">
    <img
      src="/assets/page-mujer/deporte favorito/correr.webp"
      alt="calzadoCarretera"
    />
    <h4>Correr</h4>
  </div>

</div>
<div class="container-runnig sec">
  <div class="runnig-go p1">
    <img
      src="/assets/page-mujer/deporte favorito/basquet.jpeg"
      alt="calzadoCarretera"
    />
    <h4>Básquetbol</h4>
  </div>

</div>
<div class="container-runnig sec">
  <div class="runnig-go p1">
    <img
      src="/assets/page-mujer/deporte favorito/futbol.jpeg"
      alt="calzadoCarretera"
    />
    <h4>Fútbol</h4>
  </div>
</div>
<div class="container-runnig sec">
  <div class="runnig-go p1">
    <img
      src="/assets/page-mujer/deporte favorito/gimnasio.jpg"
      alt="calzadoCarretera"
    />
    <h4>Gimnasio</h4>
  </div>
</div>
<div class="container-runnig sec">
  <div class="runnig-go p1">
    <img
      src="/assets/page-mujer/deporte favorito/tenis.jpg"
      alt="calzadoCarretera"
    />
    <h4>Tenis</h4>
  </div>
</div>
</article>
</section>


    <section>
      <article class="container-aliados">
        <h3 class="h3Aliados">Conoce nuestros aliados</h3>
        <div class="aliados">
          <a href="#"><img src="/assets/logosAliados/adidas.png" alt="aliado-adidas"></a>
          <a href="#"><img src="/assets/logosAliados/nike.png" alt="aliado-nike"></a>
          <a href="#"><img src="/assets/logosAliados/PUMA-logo.jpg" alt="aliado-puma"></a>
          <a href="#"><img src="/assets/logosAliados/Sin título.jpg" alt="aliado-kappa"></a>
          <div class="logo-ali">
          <a href="#"><img src="/assets/logosAliados/Logo Under Armour.JPG" alt="aliado-under-armour"></a>
          <a href="#"><img src="/assets/logosAliados/Skechers-logo.jpg" alt="aliado-Skechers"></a>
        </div>
        </div>
      </article>
      <div class="anun-reg">
        <h3>únete a nuestro club y obten grandes descuentos</h3>
        <button class="reg-gra">Regístrate Gratis</button>
      </div>    
    </section>
</main>

<app-footer></app-footer>
